.top-bar {
  --icon-size: 25px;
  --image-size: 20px;

  width: 100vw;
  height: var(--top-bar-height);

  position: fixed;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: var(--top-bar-bg-color);

  padding: 3px 3px 0px 3px;
  box-sizing: border-box;
}

.top-bar__draggable {
  height: 100%;
  flex-grow: 1;
  -webkit-app-region: drag;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
  text-transform: capitalize;

  color: var(--primary-inverted-text-color);
}

/* .top-bar__icon_type_page-select {
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
} */

/* .top-bar__icon_active {
  background-color: #333333;
} */

/* .top-bar__icon:not(.top-bar__icon_type_app):hover {
  background-color: var(--icon-hover-bg-color);
}

.top-bar__icon:not(.top-bar__icon_type_app) > img {
  filter: invert(1);
} */

/* .top-bar__icon_type_app {
  --icon-size: 35px;
}

.top-bar__icon_type_app > img {
  --image-size: 30px;
} */

.top-bar__left-side,
.top-bar__right-side {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;
}

.top-bar__left-side > div:not(:last-child),
.top-bar__right-side > div:not(:last-child) {
  margin-right: 5px;
}

.top-bar__icon-app {
  --icon-size: 35px;
}

.top-bar__icon-app > img {
  --image-size: 30px;
}
