.sorter {
  height: 100%;
  width: 100%;
}

.sorter__bar {
  width: 100vw;
  height: 40px;
  padding: 0 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
}

.sorter__bar-buttons {
  display: flex;
  flex-direction: row;
}

.sorter__bar-buttons > div {
  margin-right: 5px;
}